[submodule "Zeeprom"]
	path = Zeeprom
	url = https://github.com/zoubworldArduino/Zeeprom.git
[submodule "ZEncoder"]
	path = ZEncoder
	url = https://github.com/zoubworldArduino/ZEncoder.git
[submodule "ZSharpIR"]
	path = ZSharpIR
	url = https://github.com/zoubworldArduino/ZSharpIR.git
[submodule "Zmotor3"]
	path = Zmotor3
	url = https://github.com/zoubworldArduino/Zmotor3.git
[submodule "ZMotor2"]
	path = ZMotor2
	url = https://github.com/zoubworldArduino/ZMotor2.git
[submodule "ZMCP23017"]
	path = ZMCP23017
	url = https://github.com/zoubworldArduino/ZMCP23017.git
[submodule "ZPCA9685"]
	path = ZPCA9685
	url = https://github.com/zoubworldArduino/ZPCA9685.git
[submodule "WireUtility"]
	path = WireUtility
	url = https://github.com/zoubworldArduino/WireUtility.git
[submodule "PinExtender"]
	path = PinExtender
	url = https://github.com/zoubworldArduino/PinExtender.git
[submodule "ZCmdMotor"]
	path = ZCmdMotor
	url = https://github.com/zoubworldArduino/ZCmdMotor.git
[submodule "Zsamba"]
	path = Zsamba
	url = https://github.com/zoubworldArduino/Zsamba.git
[submodule "ZRos"]
	path = ZRos
	url = https://github.com/zoubworldArduino/ZRos.git 
[submodule "ZServo"]
	path = ZServo
	url = https://github.com/zoubworldArduino/ZServo.git
[submodule "ZServoPCA9685"]
	path = ZServoPCA9685
	url = https://github.com/zoubworldArduino/ZServoPCA9685.git
[submodule "ZOpticalSensor"]
	path = ZOpticalSensor
	url = https://github.com/zoubworldArduino/ZOpticalSensor.git
[submodule "Rosserial_Arduino_Library"]
	path = Rosserial_Arduino_Library
	url = https://github.com/zoubworldArduino/rosserial_arduino_lib.git
[submodule "ZTCS34725"]
	path = ZTCS34725
	url = https://github.com/zoubworldArduino/ZTCS34725.git
[submodule "YDLidar"]
	path = YDLidar
	url = https://github.com/EAIBOT/ydlidar_arduino.git
[submodule "mojo"]
	path = mojo
	url = https://github.com/embmicro/mojo-arduino.git
[submodule "mojo-base-project"]
	path = mojo-base-project
	url = https://github.com/embmicro/mojo-base-project.git
[submodule "RGB-matrix-Panel"]
	path = RGB-matrix-Panel
	url = https://github.com/adafruit/RGB-matrix-Panel.git
[submodule "PxMatrix"]
	path = PxMatrix
	url = https://github.com/2dom/PxMatrix.git
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/ehubin/Adafruit-GFX-Library.git
[submodule "Adafruit-PWM-Servo-Driver-Library"]
        path = Adafruit-PWM-Servo-Driver-Library
        url = https://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library.git
[submodule "ros_lib"]
	path = ros_lib
	url = git@github.com:zoubata/rosserial_arduino.git
[submodule "ZSwitchs"]
	path = ZSwitchs
	url = https://github.com/zoubworldArduino/ZSwitchs.git
[submodule "ZMPU6050"]
	path = ZMPU6050
	url = https://github.com/zoubworldArduino/ZMPU6050.git
[submodule "ZPID"]
	path = ZPID
	url = https://github.com/zoubworldArduino/ZPID.git

[submodule "ZWireDevice"]
        path = ZWireDevice
        url = https://github.com/zoubworldArduino/ZWireDevice.git
