[submodule "Zeeprom"]
	path = Zeeprom
	url = https://github.com/zoubworldArduino/Zeeprom.git
[submodule "ZEncoder"]
	path = ZEncoder
	url = https://github.com/zoubworldArduino/ZEncoder.git
[submodule "ZSharpIR"]
	path = ZSharpIR
	url = https://github.com/zoubworldArduino/ZSharpIR.git
[submodule "Zmotor3"]
	path = Zmotor3
	url = https://github.com/zoubworldArduino/Zmotor3.git
[submodule "ZMotor2"]
	path = ZMotor2
	url = https://github.com/zoubworldArduino/ZMotor2.git
[submodule "ZMCP23017"]
	path = ZMCP23017
	url = https://github.com/zoubworldArduino/ZMCP23017.git
[submodule "ZPCA9685"]
	path = ZPCA9685
	url = https://github.com/zoubworldArduino/ZPCA9685.git
[submodule "WireUtility"]
	path = WireUtility
	url = https://github.com/zoubworldArduino/WireUtility.git
[submodule "PinExtender"]
	path = PinExtender
	url = https://github.com/zoubworldArduino/PinExtender.git
[submodule "ZCmdMotor"]
	path = ZCmdMotor
	url = https://github.com/zoubworldArduino/ZCmdMotor.git
[submodule "Zsamba"]
	path = Zsamba
	url = https://github.com/zoubworldArduino/Zsamba.git
[submodule "ZRos"]
	path = ZRos
	url = https://github.com/zoubworldArduino/ZRos.git 
[submodule "ZServo"]
	path = ZServo
	url = https://github.com/zoubworldArduino/ZServo.git
[submodule "ZServoPCA9685"]
	path = ZServoPCA9685
	url = https://github.com/zoubworldArduino/ZServoPCA9685.git
[submodule "ZOpticalSensor"]
	path = ZOpticalSensor
	url = https://github.com/zoubworldArduino/ZOpticalSensor.git
